* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif ;
}

.contenidoGrid {
    display: grid;
    grid-template-rows: repeat (4, auto);
}

header {
    display: flex;
    height: 90px;
    background-color: #BDD4A8;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    top: 0;
}

.logo img {
    height: 60px;
    padding-left: 30px;
}

.menu li {
    list-style: none;
    display: inline-block;
}

.menu li a {
    text-decoration: none;
    color: black;
    padding-right: 20px;
}

.menu li a:hover {
    color: white;
}

.tamañoImagen {
    height: 500px;
}
.productosTitulo {
    margin-top: 50px;
    font-size: 25px;
    font-weight: lighter;
    text-align: left;
    margin-bottom: 50px;
}

.productos {
    margin: 5px;
    float: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.productos .productos__destacados img {
    width: 100%;
    height: 300px;
}

.productos .productos__destacados p {
    padding: 15px;
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
}

.botonProductos {
    text-align: center;
    color: #BDD4A8;
    margin: 50px;
}

.botonProductos a:link {
    text-decoration: none;
    color: #BDD4A8;
    padding: 14px 25px;
    text-align: center;
    background-color: white;
}

.botonProductos a:visited {
    color: black;
}

.botonProductos a:hover {
    text-decoration: none;
    color: white;
    background-color: #BDD4A8;
    border: #BDD4A8 1px solid;
    font-size: 2rem;
}

.margen {
    margin-top: 20px;
}
.button{
    background-color: #BDD4A8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
}

.blog  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
.blogInicio {
    display: inline-block;
}

.blogInicio .foto img {
    width: 70%;
    height: 300px;
}

.blogInicio .texto {
    width: 70%;
    margin: 30px 30px;
}

.tituloNosotros {
    font-size: 50px;
    margin: 20 20;
}

.imagenNosotros {
    width: 100px;
    height: 100px;
}

.mapaContacto {
    height: 100px;
}

.pieDePagina {
    background-color: #BDD4A8;
    padding-top: 50px;
}

.decoracionTexto {
    text-decoration: none;
}
.img-logo {
    width: 20%;
}

.redesSociales{ 
    width: 10%;
}