$color-principal: #BDD4A8;
$color-texto: black;
$color-texto-secundario: white;

$size-titulo: 2.4em;
$size-mediano: 2em;
$size-parrafo: 1.2em;
$size-chico: 0.8em;

$fuente-principal: "Open Sans", sans-serif;

$fuentes-grosor: (
    thin:100,
    light:300,
    regular:400,
    medium:500,
    bold:700,
    black:500,
);